.secondContainer {
  color: #fff;
  background: #000211;
  font-family: "Gilroy", sans-serif;
  text-align: left;
  padding-left: 50px; /* This padding is to ensure the content isn't too close to the edge. You can adjust it as needed. */
  height: 100%;
  position: relative;
}

.secondContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
  height: 100%;
  background-image: url("/src/assets/Vector 9.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

.rightImage {
  content: "";
  position: absolute;
  top: 0;
  right: 0; /* Position to the rightmost side */
  width: 600px; /* Adjust this width based on how wide you want the right image to be */
  height: 100%;
  background-image: url("/src/assets/Vector 10.png"); /* Replace with the path to your new image */
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}

.secondHeading {
  font-family: "Gilroy-Bold", sans-serif;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-bottom: 4rem;
  padding-top: 3.5rem;
  font-size: 54px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  z-index: 2;
  position: relative;
}

.secondContent {
  font-feature-settings: "liga" off;
  font-size: 20px;
  padding: 3rem 6rem 6rem 6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  width: 496px;
  z-index: 2;
  position: relative;
  text-align: left;
}

.topRightImage {
  content: "";
  position: absolute;
  top: 0;
  right: 0; /* Position to the top right corner */
  width: 288.842px;
  height: 288.842px;
  mix-blend-mode: color-dodge;
  flex-shrink: 0;
  z-index: 0; /* To ensure it stays on top */
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px; /* Set gap between each card, adjust as needed */
  padding-top: 2rem; /* Set some padding at the top to separate it from the text above */
  max-width: 1200px; /* Set a maximum width to ensure the layout looks good on larger screens */
  margin: 0 auto; /* Center the card list horizontally */
}
