.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
  background: #000211;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

/* Assuming you already have styles for ElevateCard in another CSS file */
