.navbar {
  width: 560px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 65px;
  background: rgba(21, 28, 47, 0.8);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 5px;
  padding-left: 120px;
  padding-right: 40px; /* Adding some padding to adjust for logo */
}

.logo {
  width: 114px;
  height: 34px;
  position: absolute;
  left: 10px; /* Adjust this value based on your preference */
  top: 50%;
  transform: translateY(-50%);
}

.navbar a {
  color: #fff;
  text-align: center;
  font-family: "Gilroy", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-decoration: none;
  transition: color 0.2s;
}

.navbar a:hover {
  color: #01c2ff;
}


/* ... Existing Styles ... */

.navbar {
  width: 560px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 65px;
  background: rgba(21, 28, 47, 0.8);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 5px;
  padding-left: 120px;
  padding-right: 40px;
}

.logo {
  width: 114px;
  height: 34px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.navbar a {
  color: #fff;
  text-align: center;
  font-family: "Gilroy", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-decoration: none;
  transition: color 0.2s;
}

.navbar a:hover {
  color: #01c2ff;
}

/* For mobile devices */
@media (max-width: 480px) {
  .navbar {
    width: 90%;
    height: auto;
    flex-direction: column;
    padding: 1rem 0;
  }

  .logo {
    position: static;
    margin-bottom: 1rem;
    transform: none;
  }

  .navbar a {
    margin-bottom: 0.5rem;
  }
}

/* For tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .navbar {
    width: 80%;
    padding-left: 80px;
    padding-right: 20px;
  }
}


